<div class="col-md-12">

    <h2 class="text-center"> 我加入的讨论版 </h2>

       <tbody>
          <%= render :partial => "group_item", :collection => @groups, :as => :group %>
       </tbody>

     </table>
  </div>
